<h2>{{title}}</h2>
<table class="table">
    <tr>
        <th>Index</th>
        <th>Even/Odd</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Room Amenities</th>
        <th>Checkin Time</th>
        <th>Rating</th>
        <th>Book Room</th>
        <th>Delete Room</th>
    </tr>
    <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of rooms; let e=even; let o=odd; let i=index">
        <td>{{i | percent}}</td>
        <td>{{e ? "Even" : "Odd"}}</td>
        <td>{{room.roomNumber}}</td>
        <td>{{room.roomType}}</td>
        <td>{{room.price | currency : 'USD'}}</td>
        <td>{{room.amenities | lowercase}}</td>
        <td>{{room.checkinTime | date:'dd/MMM/yy'}}</td>
        <td>{{room.rating | number : '1.0-2' : 'en-us'}}</td>
        <!-- <td>
            <button class="btn btn-primary" (click)="selectRoom(room)">Select</button>
        </td> -->

        <td>
            <button class="btn btn-primary" [routerLink]="['/rooms', room.roomNumber]">Book</button>
        </td>

        <td><button class="btn btn-primary" (click)="deleteRoom(room)">Delete</button></td>
    </tr>
</table>